.container {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.sidebar {
  background-color: #202123;
  padding: 10px;
  grid-column: 1;
}


.side-menu-button {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid white;
  text-align: left;
  transition: ease 0.25s all;
  margin-bottom: 10px;
}

.side-menu-button:hover {
  background-color: rgba(255, 248, 248, 0.432);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}


.chatbox {
  background-color: #343541;
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.chat-log {
  overflow-y: scroll;
  flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.chat-input-holder {
  padding: 24px;
  position: relative;
}


.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  padding: 12px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 1.25em;
  border: none;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(255, 253, 253, 0.616);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-log {
  text-align: left;
  display: absolute;

}

.chat-message.chatgpt {
  background-color: #5df7ea;
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}


.chat-message {
  background-color: #81b8ff;
  border-radius: 8px;
  margin: 12px;
  padding: 12px;
}

.avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #61dafb;
  border: 1px solid #ccc;
}

.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1em;
  line-height: 1.5em;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}

.message span {
  color: #444;
  font-size: 1.25em;
  line-height: 1.5;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

